################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeneticAlgorithm_Floats/__pycache__
/GeneticAlgorithm_Floats/GeneticAlgorithm_Floats.pyproj.user
/GeneticAlgorithm_Floats/GeneticAlgorithm_Floats.pyproj
/GeneticAlgorithm_Floats/.vs/GeneticAlgorithm_Floats/v16
